{% extends 'base.html' %}
{% load static %}


{% block title %}Ultimate EastAfrica{% endblock %}
{% block content %}
<section class="section section-sm">
        <div class="container">
          <h3>Ultimate East Africa: Unveiling Wildlife & Paradise (12 Days) - Starting from $8,000 USD per person</h3>
            <p>This 12-day adventure unveils the diverse wonders of East Africa, from thrilling wildlife encounters in Uganda and Kenya to the pristine beaches and turquoise waters of Zanzibar. Immerse yourselves in the region's vibrant cultures, breathtaking landscapes, and unforgettable wildlife experiences.</p>
          <h4>Detailed Itinerary</h4>
          <div class="row row-30">
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-equalization3"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title">Day 1: Arrival in Entebbe, Uganda</h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Morning: Arrive at Entebbe International Airport and complete immigration procedures.</li>
                      <li>Afternoon: Transfer to your comfortable hotel in Entebbe and unwind after your flight. In the evening, enjoy a delicious welcome dinner with breathtaking views of Lake Victoria.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-circular220"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 2: Jinja & The Source of the Nile</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Morning: Embark on a scenic drive to Jinja, the adventure capital of Uganda.</li>
                      <li>Afternoon: Visit the source of the mighty Nile River, the longest river in Africa, and learn about its historical significance. Take a boat cruise on the Nile, soaking in the beauty of the surrounding landscapes.</li>
                      <li>Optional Activities:</li>
                      <li>White-water rafting (additional cost): Experience the thrill of navigating the Nile River's exciting rapids on a white-water rafting adventure.</li>
                      <li>Visit local markets: Immerse yourselves in the vibrant atmosphere of Jinja's local markets, browsing for unique souvenirs and handcrafted items.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-favourites5"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 3: Murchison Falls National Park</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Morning: Depart Jinja and embark on a scenic drive to Murchison Falls National Park, Uganda's largest protected wildlife area.</li>
                      <li>Afternoon: Enjoy an afternoon game drive on the vast savannas, searching for elephants, lions, giraffes, and a diverse range of other wildlife. Witness the powerful Murchison Falls, where the Nile River plunges over a 43-meter drop.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-headphones32"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 4: Bwindi Impenetrable National Park</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Morning: After breakfast, depart Murchison Falls National Park and drive through rolling hills and verdant landscapes towards Bwindi Impenetrable National Park.</li>
                      <li>Afternoon: Nestled within a UNESCO World Heritage Site, Bwindi Impenetrable National Park is home to half of the world's remaining mountain gorillas. Relax at your lodge nestled amidst the rainforest, enjoying the serenity of nature.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-hot67"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 5: Gorilla Trekking in Bwindi Impenetrable National Park</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Morning: Embark on the most unforgettable experience of your journey - gorilla trekking in Bwindi Impenetrable National Park. Spend an incredible morning tracking a habituated gorilla family in their natural habitat, observing their social interactions and gentle nature.</li>
                      <li>Afternoon: After your trek, return to the lodge and share stories of your incredible encounter with these majestic primates. Enjoy a relaxing evening at the lodge.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-wallet26"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 6: Entebbe & Flight to Mombasa, Kenya</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Morning: Savor a leisurely breakfast at your lodge and enjoy the beautiful rainforest surroundings.</li>
                      <li>Afternoon: Transfer to Entebbe Airport for your domestic flight to Mombasa, Kenya, a vibrant coastal city. Upon arrival, connect with a ground transfer to your beachfront hotel in Mombasa.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-sm">
        <div class="container">
          <div class="row row-30">
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-equalization3"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 7 & 8: Relaxation on the Kenyan Coast</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Spend two relaxing days soaking up the sun on the pristine beaches of Mombasa. Enjoy the turquoise waters of the Indian Ocean, indulge in delicious seafood, and explore the vibrant culture of the coastal region.</li>
                      <li>Optional Activities:</li>
                      <li>Snorkeling or diving: Explore the vibrant coral reefs and diverse marine life in the crystal-clear waters off the Kenyan coast.</li>
                      <li>Dhow sunset cruise: Sail along the Mombasa coastline on a traditional dhow boat, enjoying breathtaking sunsets and panoramic views.</li>
                      <li>Day trip to Tsavo National Park: Embark on a day trip to Tsavo National Park, one of Kenya's largest wildlife reserves, and experience a different safari adventure.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-circular220"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 9: Flight to Zanzibar, Tanzania</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Morning: Enjoy a leisurely breakfast at your Mombasa hotel.</li>
                      <li>Afternoon: Transfer to Mombasa Moi International Airport for your flight to Zanzibar, a stunning Tanzanian archipelago renowned for its pristine beaches, rich history, and cultural charm. Upon arrival, connect with a ground transfer to your luxurious beachside resort in Zanzibar.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-favourites5"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 10 & 11: Paradise Found in Zanzibar</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Spend two idyllic days unwinding on the white-sand beaches of Zanzibar. Explore the charming Stone Town, a UNESCO World Heritage Site, with its narrow streets, historical architecture, and vibrant spice markets. Relax by the turquoise waters, indulge in delicious seafood, and soak up the laid-back island atmosphere.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-headphones32"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Optional Activities:</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Spice Tour: Embark on a guided tour of a spice plantation, learning about Zanzibar's rich history of spice cultivation and sampling various aromatic spices.</li>
                      <li>Dolphin Tour: Take a boat trip in search of playful dolphins frolicking in the crystal-clear waters surrounding Zanzibar.</li>
                      <li>Scuba Diving or Snorkeling: Explore the vibrant coral reefs teeming with colorful marine life in the pristine waters around Zanzibar.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-hot67"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 12: Departure from Zanzibar</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Morning: Savor a leisurely breakfast at your Zanzibar resort and enjoy the beautiful island scenery.</li>
                      <li>Afternoon: Transfer to Zanzibar International Airport for your departure flight home, carrying unforgettable memories of your East African adventure.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-wallet26"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Inclusions:</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Accommodation in comfortable lodges and beachfront hotels throughout the itinerary</li>
                      <li>Meals as per the itinerary (Breakfast)</li>
                      <li>Ground transportation in private vehicles</li>
                      <li>Domestic flights within East Africa (Entebbe-Mombasa, Mombasa-Zanzibar)</li>
                      <li>Park entrance fees for Murchison Falls National Park and Bwindi Impenetrable National Park</li>
                      <li>Services of professional and experienced guides throughout the safari portions</li>
                      <li>Gorilla trekking permit in Bwindi Impenetrable National Park (subject to availability)</li>
                      <li>Boat cruise on the Nile River</li>
                    </ul>
                    
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-sm">
        <div class="container">
          <div class="row row-30">
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-equalization3"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Exclusions:</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>International flights to and from Entebbe, Uganda</li>
                      <li>Visa fees for Uganda, Kenya, and Tanzania (if applicable)</li>
                      <li>Travel insurance (highly recommended)</li>
                      <li>Lunches, dinners, and drinks other than breakfast</li>
                      <li>Gratuities for guides, lodge staff, and porters (at your discretion)</li>
                      <li>Optional activities not mentioned in the itinerary</li>
                    </ul>
                    
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
