{% extends 'base.html' %}
{% load static %}


{% block title %}Costal Charms{% endblock %}
{% block content %}
<section class="section section-sm">
  <div class="container">
    <h3>Coastal Charms of East Africa: Beaches, Dhows & Diving (10 Days) - Starting from $6,400 USD per person</h3>
    <p>Embark on a captivating 10-day adventure exploring the enchanting coastlines of Tanzania, Zanzibar, and Kenya,
      offering a delightful blend of relaxation, cultural immersion, and thrilling water activities.</p>
    <p>This 10-day itinerary offers a perfect blend of relaxation, cultural discovery, and thrilling water activities.
      Explore the vibrant coastlines of Kenya and Tanzania, unwind on the pristine beaches of Zanzibar, and delve into
      the rich history and culture of Stone Town.</p>
    <h4>Detailed Itinerary</h4>
    <div class="row row-30">
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div
            class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
            <div class="unit-left">
              <div class="box-icon-classic-icon fl-bigmug-line-equalization3"></div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title">Day 1: Arrival in Mombasa, Kenya</h5>
              <p class="box-icon-classic-text"></p>
              <ul>
                <li>Morning: Arrive at Moi International Airport in Mombasa, Kenya's vibrant coastal city.</li>
                <li>Afternoon: Complete arrival procedures and transfer to your beachfront hotel, overlooking the
                  turquoise waters of the Indian Ocean. Relax and unwind after your flight, soaking in the stunning
                  ocean views</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div
            class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
            <div class="unit-left">
              <div class="box-icon-classic-icon fl-bigmug-line-circular220"></div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title">Day 2 & 3: Relaxation on the Kenyan Coast</h5>
              <p class="box-icon-classic-text"></p>
              <ul>
                <li>Spend two idyllic days basking on the pristine beaches of Mombasa. Enjoy the warm sunshine, swim in
                  the crystal-clear waters, and indulge in delicious seafood at beachfront restaurants.</li>
              </ul>
              <p>**Optional Activities:**</p>
              <ul>
                <li>Snorkeling or diving: Explore the vibrant coral reefs teeming with colorful marine life just
                  offshore.</li>
                <li>Dhow sunset cruise: Sail along the Mombasa coastline on a traditional dhow boat, enjoying
                  breathtaking sunsets and panoramic views.</li>
                <li>Cultural tour of Mombasa Old Town: Immerse yourself in the rich history and vibrant culture of
                  Mombasa Old Town, with its narrow streets, historical architecture, and bustling markets.</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div
            class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
            <div class="unit-left">
              <div class="box-icon-classic-icon fl-bigmug-line-favourites5"></div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title">Day 4: Flight to Dar es Salaam, Tanzania & Ferry to Zanzibar</h5>
              <p class="box-icon-classic-text"></p>
              <ul>
                <li>Morning: Savor a leisurely breakfast at your Mombasa hotel and enjoy the beautiful oceanfront views.</li>
                <li>Afternoon: Transfer to Mombasa Moi International Airport for your flight to Dar es Salaam, Tanzania's largest city. Upon arrival, connect with a ferry transfer to Zanzibar, a stunning archipelago renowned for its pristine beaches, rich history, and cultural charm. Check into your luxurious beachside resort in Zanzibar.</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div
            class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
            <div class="unit-left">
              <div class="box-icon-classic-icon fl-bigmug-line-headphones32"></div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title"><a href="#">Day 5 & 6: Paradise Found in Zanzibar</a></h5>
              <p class="box-icon-classic-text"></p>
              <ul>
                <li>Spend two idyllic days unwinding on the white-sand beaches of Zanzibar. Explore the charming Stone Town, a UNESCO World Heritage Site, with its narrow streets, historical architecture, and vibrant spice markets. Relax by the turquoise waters, indulge in delicious seafood, and soak up the laid-back island atmosphere.</li>
                <li>Optional Activities:</li>
                <li>Spice Tour: Embark on a guided tour of a spice plantation, learning about Zanzibar's rich history of spice cultivation and sampling various aromatic spices.</li>
                <li>Dolphin Tour: Take a boat trip in search of playful dolphins frolicking in the crystal-clear waters surrounding Zanzibar.</li>
                <li>Prison Island Tour: Visit the historic Prison Island, once a prison and now a sanctuary for giant tortoises.</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div
            class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
            <div class="unit-left">
              <div class="box-icon-classic-icon fl-bigmug-line-hot67"></div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title">Day 7: Scuba Diving or Snorkeling in Zanzibar</h5>
              <p class="box-icon-classic-text"></p>
              <ul>
                <li>Today, explore the vibrant underwater world surrounding Zanzibar. Choose between scuba diving, venturing deeper into the coral reefs to encounter a diverse array of marine life, or snorkeling in the shallower waters, enjoying the colorful coral formations and fish.</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div
            class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
            <div class="unit-left">
              <div class="box-icon-classic-icon fl-bigmug-line-wallet26"></div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title">Day 8: Stone Town Exploration & Cultural Immersion</h5>
              <p class="box-icon-classic-text"></p>
              <ul>
                <li>Dedicate a day to exploring the captivating Stone Town, a UNESCO World Heritage Site. Wander through the narrow streets lined with historical buildings, visit the bustling markets, and learn about Zanzibar's rich cultural heritage.</li>
                <li>In the evening, enjoy a farewell dinner at a local restaurant, savoring the unique flavors of Zanzibari cuisine.</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="section section-sm">
  <div class="container">
    <div class="row row-30">
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div
            class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
            <div class="unit-left">
              <div class="box-icon-classic-icon fl-bigmug-line-equalization3"></div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title">Day 9: Relaxation at the Beach</h5>
              <p class="box-icon-classic-text"></p>
              <ul>
                <li>Spend your last day in Zanzibar soaking up the sunshine on the beach, indulging in water sports (optional), or simply relaxing by the pool with a good book.</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div
            class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
            <div class="unit-left">
              <div class="box-icon-classic-icon fl-bigmug-line-circular220"></div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title">Day 10: Departure from Zanzibar</h5>
              <p class="box-icon-classic-text"></p>
              <ul>
                <li>Morning: Savor a leisurely breakfast at your Zanzibar resort and enjoy the beautiful island scenery.</li>
                <li>Afternoon: Transfer to Zanzibar International Airport for your departure flight home, carrying unforgettable memories of your East African coastal adventure.</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div
            class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
            <div class="unit-left">
              <div class="box-icon-classic-icon fl-bigmug-line-favourites5"></div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title">Inclusions:</h5>
              <p class="box-icon-classic-text"></p>
              <ul>
                <li>Accommodation in comfortable beachfront hotels and resorts throughout the itinerary</li>
                <li>Meals as per the itinerary (Breakfast)</li>
                <li>Ground transportation in Kenya and transfers in Zanzibar</li>
                <li>Ferry tickets between Dar es Salaam and Zanzibar</li>
                <li>Domestic flight from Mombasa to Dar es Salaam</li>
                <li>Services of professional guides for cultural tours (if chosen)</li>
                <li>Entrance fees for Stone Town (if applicable)</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div
            class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
            <div class="unit-left">
              <div class="box-icon-classic-icon fl-bigmug-line-headphones32"></div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title"><a href="#">Exclusions</a></h5>
              <p class="box-icon-classic-text"></p>
              <ul>
                <li>International flights to and from Mombasa, Kenya</li>
                <li>Visa fees for Kenya and Tanzania (if applicable)</li>
                <li>Travel insurance (highly recommended)</li>
                <li>Lunches, dinners, and drinks other than breakfast</li>
                <li>Gratuities for guides, lodge staff, and porters (at your discretion)</li>
                <li>Optional activities not mentioned in the itinerary (snorkeling, diving, dhow)</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      
    </div>
  </div>
</section>
<section class="section section-sm">
  
</section>
{% endblock %}