{% extends 'base.html' %}
{% load static %}


{% block title %}Karibu Kenya{% endblock %}
{% block content %}
<section class="section section-sm">
        <div class="container">
            <h3>Karibu Kenya</h3>
                <h4>Detailed Itinerary</h4>
                <p>
                  Karibu Kenya: 8-Day Luxury Kenyan Adventure ($5,000 USD)</p>
                  <p>This 8-day itinerary offers a luxurious adventure across some of Kenya's most breathtaking destinations, designed to deliver an unforgettable experience.</p>
          <div class="row row-30">
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-equalization3"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 1: Arrival in Nairobi</a></h5>
                    <p class="box-icon-classic-text">.</p>
                    <ul>
                      <li>Morning arrival at Nairobi's Jomo Kenyatta International Airport (NBO).</li>
                      <li>Meet your private driver and transfer to a luxurious Nairobi hotel.</li>
                      <li>Afternoon at your leisure to explore Nairobi or relax at the hotel's exquisite facilities.</l>
                      <li>In the evening, enjoy a delicious welcome dinner featuring Kenyan cuisine at the hotel.</li> 
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-circular220"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 2: The Masai Mara - Witnessing the Great Migration</a></h5>
                    <ul>
                      <li>Take a scenic light aircraft flight from Nairobi's Wilson Airport directly to a luxurious tented camp nestled within the Maasai Mara National Reserve.</li>
                      <li>In the afternoon, embark on your first game drive with your expert guide, venturing deep into the reserve to witness the spectacle of the Great Migration and a vast array of wildlife.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-favourites5"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 3: Unveiling the Treasures of the Masai Mara</a></h5>
                    <ul>
                      <li>Spend a full day exploring different areas of the Masai Mara on guided game drives. Witness predator-prey interactions, be captivated by the diverse landscapes, and encounter a plethora of incredible animals.</li>
                      <li>Relax in the evenings at your luxurious tented camp, enjoying gourmet meals, attentive service, and stunning views of the savannah.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-headphones32"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 4: Farewell to the Masai Mara, Hello Laikipia</a></h5>
                    <ul>
                      <li>Enjoy a morning game drive in the Masai Mara with your guide, making the most of your time in this incredible reserve.</li>
                      <li>Take a light aircraft flight to a private conservancy nestled within the vast Laikipia region.</li>
                    </ul>                  
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-hot67"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 5: Exploring the Exclusivity of Laikipia</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Begin your exploration of the private conservancy in Laikipia. Enjoy exclusive access and participate in guided activities like bush walks, game drives tailored to this unique ecosystem, and thrilling horseback riding excursions (optional) led by experienced rangers.</li>
                      <li>In the evening, unwind at your luxurious lodge, offering breathtaking views and personalized service.</li>
                    </ul> 
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-wallet26"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 6: Unveiling More of Laikipia's Secrets</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Spend another full day exploring the conservancy in Laikipia. Discover wildlife beyond the Big Five, such as cheetah, reticulated giraffe, and Grevy's zebra. Immerse yourself in the unique conservation efforts undertaken here.</li>
                      <li>Return to your luxurious lodge in the evening to relax and reflect on your experiences.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-sm">
        <div class="container">
          <div class="row row-30">
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-equalization3"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 7: Kenyan Coast Paradise Awaits</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Take a short flight from a local airstrip in Laikipia to Mombasa, Kenya's vibrant coastal city</li>
                      <li>Upon arrival, transfer to a luxurious beachfront resort on the pristine shores of the Indian Ocean.</li>
                      <li>Spend the rest of the day soaking up the sun on the beach, swimming in the turquoise waters, and indulging in delicious seafood.

                        pen_spark
                        </li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-circular220"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 8: Departure from Kenya</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Savor a leisurely breakfast at the resort, reminiscing about your Kenyan adventure.</li>
                      <li>Transfer to Mombasa Moi International Airport (MBA) in time for your departing flight. Take home unforgettable memories of your time with Karibu Kenya.</li>
                      <li>Spend the rest of the day soaking up the sun on the beach, swimming in the turquoise waters, and indulging in delicious seafood.

                        pen_spark
                        </li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-favourites5"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Inclusions:</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Accommodation as mentioned for each day.</li>
                      <li>Internal flights for all transfers between locations.</li>
                      <li>Meals throughout the itinerary.</li>
                      <li>Guided activities as specified for each day.</li>
                      <li>Professional guide services during safaris.</li>
                      <li>Park entrance fees.</li>
                      <li>Roundtrip airport transfers in Nairobi and Mombasa.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-headphones32"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Note:</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li> This itinerary is a suggestion and can be customized. International flights and gratuities are not included.</li>
                      <li>MORU SAFARIS is committed to responsible tourism practices that protect Kenya's environment and communities. A portion of your trip cost will go towards supporting conservation efforts.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

{% endblock %}