{% extends 'base.html' %}
{% load static %}


{% block title %}Whispers of the Wild: A Ugandan & Rwandan Honeymoon{% endblock %}
{% block content %}
<section class="section section-sm">
        <div class="container">
            <h3>Whispers of the Wild: A Ugandan & Rwandan Honeymoon (10 Days) - Starting from $7,000 USD per person</h3>
            <p>Embrace the untamed beauty of East Africa on this romantic 10-day honeymoon, venturing into the lush rainforests of Uganda and Rwanda in search of gorillas and exploring breathtaking landscapes.

            </p>
            <h4>Detailed Itinerary</h4>
          <div class="row row-30">
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-equalization3"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 1: Arrival in Entebbe, Uganda</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Morning: Arrive at Entebbe International Airport and complete immigration procedures.</li>
                      <li>Afternoon: Transfer to your charming hotel in Entebbe and unwind after your flight. In the evening, enjoy a delicious welcome dinner with breathtaking views of Lake Victoria.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-circular220"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 2: Jinja & The Source of the Nile</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Morning: Embark on a scenic drive to Jinja, the adventure capital of Uganda.</li>
                      <li>Afternoon: Visit the source of the mighty Nile River, the longest river in Africa and the cradle of ancient civilizations. Take a boat cruise on the Nile, soaking in the beauty of the surrounding landscapes.</li>
                      <li>Optional Activities:</li>
                      <li>White-water rafting (additional cost): For a thrilling experience, embark on a white-water rafting adventure on the Nile River, navigating exciting rapids and enjoying the adrenaline rush.</li>
                      <li>Visit local markets: Immerse yourselves in the vibrant atmosphere of Jinja's local markets, browsing for unique souvenirs and handcrafted items.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-favourites5"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 3: Murchison Falls National Park</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Morning: Depart Jinja and embark on a scenic drive to Murchison Falls National Park, Uganda's largest protected wildlife area.</li>
                      <li>Afternoon: Enjoy an afternoon game drive on the vast savannas, searching for elephants, lions, giraffes, and a diverse range of other wildlife. Witness the powerful Murchison Falls, where the Nile River plunges over a 43-meter drop.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-headphones32"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 4: Bwindi Impenetrable National Park</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Morning: After breakfast, depart Murchison Falls National Park and drive through rolling hills and verdant landscapes towards Bwindi Impenetrable National Park.</li>
                      <li>Afternoon: Nestled within a UNESCO World Heritage Site, Bwindi Impenetrable National Park is home to half of the world's remaining mountain gorillas. Relax at your lodge nestled amidst the rainforest, enjoying the serenity of nature.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-hot67"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 5: Gorilla Trekking in Bwindi Impenetrable National Park</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Morning: Embark on the most unforgettable experience of your honeymoon - gorilla trekking in Bwindi Impenetrable National Park. Spend an incredible morning tracking a habituated gorilla family in their natural habitat, observing their social interactions and gentle nature.</li>
                      <li>Afternoon: After your trek, return to the lodge and share stories of your incredible encounter with these majestic primates. Enjoy a romantic candlelit dinner under the starlit African sky.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-wallet26"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 6: Lake Mutanda & Mgahinga Gorilla National Park</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Morning: Depart Bwindi and journey towards Lake Mutanda, a beautiful crater lake nestled within the Virunga Mountains. Enjoy breathtaking views of the surrounding landscapes.</li>
                      <li>Afternoon: Take a scenic boat cruise on the lake, with opportunities to spot hippos, crocodiles, and a variety of birdlife. In the afternoon, continue your journey to Mgahinga Gorilla National Park, bordering Volcanoes National Park in Rwanda.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-sm">
        <div class="container">
          <div class="row row-30">
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-equalization3"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="">Day 7: Golden Monkey Tracking in Mgahinga Gorilla National Park</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Morning: Embark on a golden monkey tracking adventure in Mgahinga Gorilla National Park's bamboo forests. Observe these playful primates with their distinctive golden fur as they swing through the trees.</li>
                      <li>Afternoon: Enjoy a romantic picnic lunch in a scenic location within the park, surrounded by the beauty of the Virunga Mountains. Relax at your lodge and soak in the tranquility of your surroundings.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-circular220"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 8: Kigali, Rwanda</a></h5>
                    <p class="box-icon-classic-text">.</p>
                    <ul>
                      <li>Morning: Cross the border into Rwanda and explore the vibrant capital city, Kigali.</li>
                      <li>Afternoon: Visit the Kigali Genocide Memorial, a poignant reminder of the country's dark past. Immerse yourselves in Rwanda's rich culture and art scene by browsing local markets and visiting museums.</li>
                      <li>Evening: Enjoy a romantic dinner at a rooftop restaurant, offering breathtaking panoramic views of the city.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-favourites5"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 9: Volcanoes National Park, Rwanda</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Morning: Travel to Volcanoes National Park, a haven for mountain gorillas and other primates.</li>
                      <li>Afternoon: Choose between another unforgettable gorilla trekking experience or embark on a scenic hike to witness the breathtaking scenery of the Virunga Volcanoes, including Mount Karisimbi, the highest mountain in Rwanda.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-headphones32"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Day 10: Departure</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Morning: Savor a leisurely breakfast at your lodge and enjoy the breathtaking views of the Virunga Volcanoes.</li>
                      <li>Afternoon: Transfer to Kigali International Airport for your departure flight home, carrying cherished memories of your Ugandan and Rwandan honeymoon adventure.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-hot67"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Exclusions:</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>International flights to and from Entebbe, Uganda</li>
                      <li>Visa fees for Uganda and Rwanda (if applicable)</li>
                      <li>Travel insurance (highly recommended)</li>
                      <li>Drinks and beverages other than what's included in the meals</li>
                      <li>Gratuities for guides, lodge staff, and porters (at your discretion)</li>
                      <li>Optional activities not mentioned in the itinerary</li>
                  </ul>
                  
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-wallet26"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title">Inclusions</h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Accommodation in comfortable lodges throughout the itinerary</li>
                      <li>Meals as per the itinerary (Breakfast, Lunch & Dinner)</li>
                      <li>Ground transportation in private vehicles</li>
                      <li>Park entrance fees for all national parks and reserves mentioned</li>
                      <li>Services of professional and experienced guides throughout the safari</li>
                      <li>Gorilla trekking permits in Bwindi Impenetrable National Park and Mgahinga Gorilla National Park (subject to availability)</li>
                      <li>Boat cruise on the Nile River and Lake Mutanda</li>
                      <li>Romantic candlelit dinner in Bwindi Impenetrable National Park</li>
                    </ul>
                    
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-sm">
        <div class="container">
          <div class="row row-30">
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-equalization3"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title">Price:</h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>Starting from $7,000 USD per person (based on double occupancy). Please note that prices may vary depending on travel dates, lodge upgrades, and inclusion of additional activities.</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-classic">
                <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-circular220"></div>
                  </div>
                  <div class="unit-body">
                    <h5 class="box-icon-classic-title"><a href="#">Please note:</a></h5>
                    <p class="box-icon-classic-text"></p>
                    <ul>
                      <li>This itinerary is a suggestion and can be customized to fit your interests, preferences, and budget.</li>
                      <li>The best time to visit Uganda and Rwanda for gorilla trekking is during the dry season (June to September and December to February) when the trails are less muddy.</li>
                      <li>Depending on the season and availability, alternative accommodation options may be offered.</li>
                      <li>Gorilla trekking permits are limited and need to be booked well in advance.</li>
                    </ul>
                    
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
{% endblock %}